<a href="https://colab.research.google.com/github/arjunmukeshh/MovieSentimentAnalysis/blob/main/sentimentanalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import tensorflow as tf
import pandas as pd
import numpy as np
import tensorflow.keras as keras

Add the files from this directory -> https://drive.google.com/drive/folders/1j9abuskI8CZWGTEMR9ydz1DwtXNVBuIY?usp=sharing

In [ ]:
imdb_reviews = pd.read_csv("/content/imdb_reviews.csv")
test_reviews = pd.read_csv("/content/test_reviews.csv")

In [ ]:
imdb_reviews.tail()

                                                 Reviews Sentiment
24995  <START this is a racist movie but worthy of st...  positive
24996  <START bela lugosi plays a doctor who will do ...  negative
24997  <START in a far away galaxy is a planet called...  negative
24998  <START six degrees had me hooked i looked forw...  positive
24999  <START as a big fan of the original film it's ...  negative

In [ ]:
word_index=pd.read_csv("/content/word_indexes.csv")

In [ ]:
word_index=dict(zip(word_index.Words,word_index.Indexes))

In [ ]:
word_index["<PAD>"]=0
word_index["<START"]=1
word_index["<UNK>"]=2
word_index["<UNUSED>"]=3

In [ ]:
def encoder(text):
  arr=[word_index[word] for word in text]
  return arr

In [ ]:
train_data,train_labels = imdb_reviews['Reviews'],imdb_reviews['Sentiment']
test_data,test_labels = test_reviews['Reviews'],test_reviews['Sentiment']

train_data = train_data.apply(lambda review:review.split())
test_data = test_data.apply(lambda review:review.split())

In [ ]:
train_data[0]

['<START',
 'this',
 'film',
 'was',
 'just',
 'brilliant',
 'casting',
 'location',
 'scenery',
 'story',
 'direction',
 "everyone's",
 'really',
 'suited',
 'the',
 'part',
 'they',
 'played',
 'and',
 'you',
 'could',
 'just',
 'imagine',
 'being',
 'there',
 'robert',
 '<UNK>',
 'is',
 'an',
 'amazing',
 'actor',
 'and',
 'now',
 'the',
 'same',
 'being',
 'director',
 '<UNK>',
 'father',
 'came',
 'from',
 'the',
 'same',
 'scottish',
 'island',
 'as',
 'myself',
 'so',
 'i',
 'loved',
 'the',
 'fact',
 'there',
 'was',
 'a',
 'real',
 'connection',
 'with',
 'this',
 'film',
 'the',
 'witty',
 'remarks',
 'throughout',
 'the',
 'film',
 'were',
 'great',
 'it',
 'was',
 'just',
 'brilliant',
 'so',
 'much',
 'that',
 'i',
 'bought',
 'the',
 'film',
 'as',
 'soon',
 'as',
 'it',
 'was',
 'released',
 'for',
 '<UNK>',
 'and',
 'would',
 'recommend',
 'it',
 'to',
 'everyone',
 'to',
 'watch',
 'and',
 'the',
 'fly',
 'fishing',
 'was',
 'amazing',
 'really',
 'cried',
 'at',
 'the',
 'end',
 'it',
 'was',
 'so',
 'sad',
 'and',
 'you',
 'know',
 'what',
 'they',
 'say',
 'if',
 'you',
 'cry',
 'at',
 'a',
 'film',
 'it',
 'must',
 'have',
 'been',
 'good',
 'and',
 'this',
 'definitely',
 'was',
 'also',
 '<UNK>',
 'to',
 'the',
 'two',
 'little',
 "boy's",
 'that',
 'played',
 'the',
 '<UNK>',
 'of',
 'norman',
 'and',
 'paul',
 'they',
 'were',
 'just',
 'brilliant',
 'children',
 'are',
 'often',
 'left',
 'out',
 'of',
 'the',
 '<UNK>',
 'list',
 'i',
 'think',
 'because',
 'the',
 'stars',
 'that',
 'play',
 'them',
 'all',
 'grown',
 'up',
 'are',
 'such',
 'a',
 'big',
 'profile',
 'for',
 'the',
 'whole',
 'film',
 'but',
 'these',
 'children',
 'are',
 'amazing',
 'and',
 'should',
 'be',
 'praised',
 'for',
 'what',
 'they',
 'have',
 'done',
 "don't",
 'you',
 'think',
 'the',
 'whole',
 'story',
 'was',
 'so',
 'lovely',
 'because',
 'it',
 'was',
 'true',
 'and',
 'was',
 "someone's",
 'life',
 'after',
 'all',
 'that',
 'was',
 'shared',
 'with',
 'us',
 'all']

In [ ]:
train_data = train_data.apply(encoder)
test_data = test_data.apply(encoder)

In [ ]:
def encode_sentiments(sentiment):
  if sentiment=='positive':
    return 1
  else:
    return 0

train_labels= train_labels.apply(encode_sentiments)
test_labels = test_labels.apply(encode_sentiments)

train_data=keras.preprocessing.sequence.pad_sequences(train_data,value=word_index["<PAD>"],padding='post',maxlen=500)
test_data=keras.preprocessing.sequence.pad_sequences(test_data,value=word_index["<PAD>"],padding='post',maxlen=500)

model using keras

In [ ]:
model=keras.Sequential([keras.layers.Embedding(10000,16,input_length=500),
                        keras.layers.GlobalAveragePooling1D(),
                        keras.layers.Dense(16,activation='relu'),
                        keras.layers.Dense(1,activation='sigmoid')])

In [ ]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [ ]:

history=model.fit(train_data,train_labels,epochs=30,batch_size=512,validation_data=(test_data,test_labels))

Epoch 1/30
49/49 [==============================] - 3s 52ms/step - loss: 0.6914 - accuracy: 0.5560 - val_loss: 0.6887 - val_accuracy: 0.6317
Epoch 2/30
49/49 [==============================] - 2s 49ms/step - loss: 0.6815 - accuracy: 0.6790 - val_loss: 0.6737 - val_accuracy: 0.7053
Epoch 3/30
49/49 [==============================] - 2s 50ms/step - loss: 0.6565 - accuracy: 0.7386 - val_loss: 0.6418 - val_accuracy: 0.7623
Epoch 4/30
49/49 [==============================] - 2s 51ms/step - loss: 0.6124 - accuracy: 0.7823 - val_loss: 0.5938 - val_accuracy: 0.7958
Epoch 5/30
49/49 [==============================] - 2s 47ms/step - loss: 0.5535 - accuracy: 0.8191 - val_loss: 0.5359 - val_accuracy: 0.8175
Epoch 6/30
49/49 [==============================] - 2s 46ms/step - loss: 0.4899 - accuracy: 0.8402 - val_loss: 0.4800 - val_accuracy: 0.8385
Epoch 7/30
49/49 [==============================] - 2s 47ms/step - loss: 0.4312 - accuracy: 0.8632 - val_loss: 0.4328 - val_accuracy: 0.8502
Epoch 8/30
49/49 [==============================] - 2s 48ms/step - loss: 0.3839 - accuracy: 0.8747 - val_loss: 0.3966 - val_accuracy: 0.8582
Epoch 9/30
49/49 [==============================] - 2s 48ms/step - loss: 0.3474 - accuracy: 0.8836 - val_loss: 0.3717 - val_accuracy: 0.8632
Epoch 10/30
49/49 [==============================] - 2s 48ms/step - loss: 0.3194 - accuracy: 0.8910 - val_loss: 0.3521 - val_accuracy: 0.8673
Epoch 11/30
49/49 [==============================] - 2s 48ms/step - loss: 0.2960 - accuracy: 0.8977 - val_loss: 0.3357 - val_accuracy: 0.8720
Epoch 12/30
49/49 [==============================] - 2s 49ms/step - loss: 0.2773 - accuracy: 0.9035 - val_loss: 0.3237 - val_accuracy: 0.8747
Epoch 13/30
49/49 [==============================] - 2s 48ms/step - loss: 0.2615 - accuracy: 0.9099 - val_loss: 0.3151 - val_accuracy: 0.8757
Epoch 14/30
49/49 [==============================] - 2s 49ms/step - loss: 0.2475 - accuracy: 0.9138 - val_loss: 0.3069 - val_accuracy: 0.8797
Epoch 15/30
49/49 [==============================] - 2s 49ms/step - loss: 0.2356 - accuracy: 0.9186 - val_loss: 0.3024 - val_accuracy: 0.8803
Epoch 16/30
49/49 [==============================] - 2s 49ms/step - loss: 0.2251 - accuracy: 0.9218 - val_loss: 0.2968 - val_accuracy: 0.8822
Epoch 17/30
49/49 [==============================] - 2s 47ms/step - loss: 0.2150 - accuracy: 0.9261 - val_loss: 0.2927 - val_accuracy: 0.8842
Epoch 18/30
49/49 [==============================] - 2s 46ms/step - loss: 0.2065 - accuracy: 0.9286 - val_loss: 0.2918 - val_accuracy: 0.8842
Epoch 19/30
49/49 [==============================] - 2s 47ms/step - loss: 0.1983 - accuracy: 0.9320 - val_loss: 0.2877 - val_accuracy: 0.8857
Epoch 20/30
49/49 [==============================] - 2s 47ms/step - loss: 0.1908 - accuracy: 0.9352 - val_loss: 0.2871 - val_accuracy: 0.8857
Epoch 21/30
49/49 [==============================] - 2s 48ms/step - loss: 0.1840 - accuracy: 0.9373 - val_loss: 0.2863 - val_accuracy: 0.8867
Epoch 22/30
49/49 [==============================] - 2s 47ms/step - loss: 0.1780 - accuracy: 0.9398 - val_loss: 0.2858 - val_accuracy: 0.8864
Epoch 23/30
49/49 [==============================] - 2s 47ms/step - loss: 0.1716 - accuracy: 0.9421 - val_loss: 0.2858 - val_accuracy: 0.8868
Epoch 24/30
49/49 [==============================] - 2s 48ms/step - loss: 0.1670 - accuracy: 0.9430 - val_loss: 0.2902 - val_accuracy: 0.8856
Epoch 25/30
49/49 [==============================] - 2s 47ms/step - loss: 0.1608 - accuracy: 0.9463 - val_loss: 0.2874 - val_accuracy: 0.8858
Epoch 26/30
49/49 [==============================] - 2s 46ms/step - loss: 0.1559 - accuracy: 0.9486 - val_loss: 0.2889 - val_accuracy: 0.8852
Epoch 27/30
49/49 [==============================] - 2s 46ms/step - loss: 0.1511 - accuracy: 0.9502 - val_loss: 0.2904 - val_accuracy: 0.8845
Epoch 28/30
49/49 [==============================] - 2s 49ms/step - loss: 0.1468 - accuracy: 0.9512 - val_loss: 0.2915 - val_accuracy: 0.8846
Epoch 29/30
49/49 [==============================] - 2s 51ms/step - loss: 0.1434 - accuracy: 0.9525 - val_loss: 0.2950 - val_accuracy: 0.8854
Epoch 30/30
49/49 [==============================] - 2s 48ms/step - loss: 0.1385 - accuracy: 0.9548 - val_loss: 0.2954 - val_accuracy: 0.8854

In [ ]:
loss,accuracy = model.evaluate(test_data,test_labels)

782/782 [==============================] - 2s 3ms/step - loss: 0.2954 - accuracy: 0.8854

As we can see , our model is giving around 88% accuracy

In [ ]:
test_reviews.head()

                                             Reviews Sentiment
0  <START please give this one a miss br br <UNK>...  negative
1  <START this film requires a lot of patience be...  positive
2  <START many animation buffs consider <UNK> <UN...  positive
3  <START i generally love this type of movie how...  negative
4  <START like some other people wrote i'm a die ...  positive

In [ ]:
index = np.random.randint(1,1000)

In [ ]:
user_review=test_reviews.loc[index]
print(user_review)

Reviews      <START i'm a huge comedy show fan racial humor...
Sentiment                                             negative
Name: 972, dtype: object

In [ ]:
if (model.predict(processed)>0.5).astype("int32"):
  print("positive sentiment")
else:
  print("negative sentiment")

1/1 [==============================] - 0s 65ms/step
negative sentiment

The model has identified it **correctly**

**Let's take user input and see :)**

In [ ]:
print("What movie did you see?")
name = input()

print("How was it? Tell me in lowercase")
rev = list(input().strip().split())
processed = encoder(rev)

size = 500
processed = processed + [0] * max(0, size - len(processed))
processed = np.array(processed).reshape(1,500)

What movie did you see?
shyam singhaory
How was it? Tell me in lowercase
it was entertaining

In [ ]:
if (model.predict(processed)>0.5).astype("int32"):
  print("positive sentiment")
else:
  print("negative sentiment")

1/1 [==============================] - 0s 22ms/step
positive sentiment

# For Deployment

In [1]:
import pickle

In [3]:
filename = 'trained_model.sav'